@keyframes right-eating-top {
  0% {
    transform: rotate(-40deg); }
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-40deg); } }

@keyframes top-eating-top {
  0% {
    transform: rotate(-130deg); }
  50% {
    transform: rotate(-90deg); }
  100% {
    transform: rotate(-130deg); } }

@keyframes left-eating-top {
  0% {
    transform: rotate(-220deg); }
  50% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(-220deg); } }

@keyframes down-eating-top {
  0% {
    transform: rotate(-310deg); }
  50% {
    transform: rotate(-270deg); }
  100% {
    transform: rotate(-310deg); } }

@keyframes right-eating-bottom {
  0% {
    transform: rotate(40deg); }
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(40deg); } }

@keyframes top-eating-bottom {
  0% {
    transform: rotate(-50deg); }
  50% {
    transform: rotate(-90deg); }
  100% {
    transform: rotate(-50deg); } }

@keyframes left-eating-bottom {
  0% {
    transform: rotate(-140deg); }
  50% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(-140deg); } }

@keyframes down-eating-bottom {
  0% {
    transform: rotate(-230deg); }
  50% {
    transform: rotate(-270deg); }
  100% {
    transform: rotate(-230deg); } }

@keyframes ghost-up-down-moving {
  0% {
    top: 44%; }
  25% {
    top: 46%; }
  75% {
    top: 42%; }
  100% {
    top: 44%; } }

@keyframes bonus-rotate {
  0% {
    background-position-x: 0px; }
  100% {
    background-position-x: 210px; } }

@keyframes ghost-tail-moving {
  0% {
    background-position: 0 50%; }
  100% {
    background-position: 100% 50%; } }

@keyframes ghost-mouth-moving {
  0% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

/*@keyframes ghost-warning {
    0% {
        background-color: black;
    }
    100% {
        background-color: green;
    }
}*/
@keyframes gameOverScreen {
  0% {
    background-color: rgba(0, 0, 0, 0.1); }
  100% {
    background-color: black; } }

body {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

aside {
  width: 7vw;
  height: 100vh;
  background-color: #0000cc; }

.container {
  height: 100%;
  position: relative;
  margin: 0 auto;
  border: 1.5vh double black; }

table {
  position: relative;
  background-color: white;
  border-collapse: collapse; }

td {
  width: 5.5vh;
  height: 5.5vh;
  border: 1px dotted red; }

.food::after {
  content: ' ';
  display: block;
  margin: 0 auto;
  width: 0.5vh;
  height: 0.5vh;
  background-color: grey; }

.wall {
  background-color: grey; }

.bonus::after {
  content: ' ';
  display: block;
  margin: 0 auto;
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background: radial-gradient(circle at calc( 2vh / 2) calc( 2vh / 2), red, #000);
  animation: bonus-rotate 8s infinite linear; }

.intersection {
  background-color: limegreen; }

.game-over {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  animation: gameOverScreen 4s linear 1; }
  .game-over::before {
    font-size: 12em;
    content: 'GAME OVER';
    display: block;
    color: red; }

.again-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 8vh;
  top: 5vh;
  left: 40vw;
  border: 0.5vw solid red;
  color: red;
  background-color: black;
  border-radius: 5vh;
  text-decoration: none; }
  .again-button::after {
    content: 'Play Again';
    font-size: 2em; }

i {
  top: 1%;
  left: 0.5%;
  position: absolute;
  border-radius: 20%;
  background-color: rgba(255, 255, 255, 0.15); }
  i:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3); }
  i:first-child {
    left: 1%;
    background-color: rgba(0, 0, 0, 0.15); }
    i:first-child:hover {
      background-color: rgba(0, 0, 0, 0.3); }

.hide {
  display: none; }

.dark-theme {
  background-color: #414244; }
  .dark-theme table {
    background-color: #414244; }
    .dark-theme table .food::after {
      background-color: #75767a; }
    .dark-theme table .wall {
      background-color: #5b5c5f;
      border: 1px dotted red; }
    .dark-theme table .bonus::after {
      background-color: red; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*================================== PAC-MAN ==================================*/
.pacman {
  position: absolute;
  width: calc( 5.5vh - 0.5vh);
  height: calc( 5.5vh - 0.5vh);
  margin: 0.3% 0 0 0.3%;
  transition: top 400ms, left 400ms; }
  .pacman .pacman-top, .pacman .pacman-bottom {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #ffea00; }
  .pacman .pacman-top {
    border-radius: 100em 100em 0 0;
    transform-origin: bottom; }
  .pacman .pacman-bottom {
    border-radius: 0 0 100em 100em;
    transform-origin: top;
    margin-top: 50%; }

/*================================== GHOST ==================================*/
/*.ghost-wrapper {
    position: absolute;
}*/
.ghost {
  position: absolute;
  width: calc( calc( 5.5vh - 0.5vh) - calc( 5.5vh - 0.5vh) * 0.2);
  height: calc( 5.5vh - 0.5vh);
  margin-left: 0.8%;
  border-radius: 100em 100em 0 0;
  transition: top 600ms, left 600ms; }
  .ghost::before {
    position: absolute;
    content: ' ';
    display: block;
    height: 100%;
    width: 100%; }
  .ghost [class|=eye] {
    position: absolute;
    top: 25%;
    left: 15%;
    width: calc( calc( 5.5vh - 0.5vh) / 4);
    height: calc( calc( 5.5vh - 0.5vh) / 4);
    background-color: white;
    border-radius: 50%; }
  .ghost .eye-right {
    left: 55%; }
  .ghost .iris {
    position: absolute;
    top: 25%;
    left: 25%;
    width: calc( calc( 5.5vh - 0.5vh) / 8);
    height: calc( calc( 5.5vh - 0.5vh) / 8);
    border-radius: 50%;
    background-color: blue; }
  .ghost .mouth {
    display: none; }
  .ghost::after {
    display: block;
    content: ' ';
    position: absolute;
    top: calc( 5.5vh - 0.5vh);
    height: calc( calc( calc( 5.5vh - 0.5vh) - calc( 5.5vh - 0.5vh) * 0.2) * 0.26);
    width: calc( calc( 5.5vh - 0.5vh) - calc( 5.5vh - 0.5vh) * 0.2);
    background: linear-gradient(-50deg, transparent 75%, green 75%) 0 50%, linear-gradient(50deg, transparent 75%, green 75%) 0 50%;
    background-size: calc( calc( 5.5vh - 0.5vh) * 0.26) calc( calc( 5.5vh - 0.5vh) * 0.26), calc( calc( 5.5vh - 0.5vh) * 0.26) calc( calc( 5.5vh - 0.5vh) * 0.26);
    background-origin: 0 50%;
    animation: ghost-tail-moving 0.5s linear infinite; }

.ghost-catched {
  background-color: blue; }
  .ghost-catched .mouth {
    display: block;
    position: absolute;
    top: calc( calc( calc( calc( 5.5vh - 0.5vh) - calc( 5.5vh - 0.5vh) * 0.2) / 1.5) * 1.35);
    left: calc( calc( calc( calc( 5.5vh - 0.5vh) - calc( 5.5vh - 0.5vh) * 0.2) / 1.5) / 3.4);
    width: calc( calc( calc( 5.5vh - 0.5vh) - calc( 5.5vh - 0.5vh) * 0.2) / 1.5);
    height: calc( calc( calc( calc( 5.5vh - 0.5vh) - calc( 5.5vh - 0.5vh) * 0.2) / 1.5) / 2);
    background: linear-gradient(-40deg, transparent 75%, white 80%, transparent 85%) 0 50%, linear-gradient(40deg, transparent 75%, white 80%, transparent 85%) 0 50%;
    background-size: calc( calc( calc( calc( 5.5vh - 0.5vh) - calc( 5.5vh - 0.5vh) * 0.2) / 1.5) / 2) calc( calc( calc( calc( 5.5vh - 0.5vh) - calc( 5.5vh - 0.5vh) * 0.2) / 1.5) / 2), calc( calc( calc( calc( 5.5vh - 0.5vh) - calc( 5.5vh - 0.5vh) * 0.2) / 1.5) / 2) calc( calc( calc( calc( 5.5vh - 0.5vh) - calc( 5.5vh - 0.5vh) * 0.2) / 1.5) / 2);
    animation: ghost-mouth-moving 0.2s linear infinite; }
  .ghost-catched::after {
    background: linear-gradient(-50deg, transparent 75%, blue 75%) 0 50%, linear-gradient(50deg, transparent 75%, blue 75%) 0 50%;
    background-size: calc( calc( 5.5vh - 0.5vh) * 0.26) calc( calc( 5.5vh - 0.5vh) * 0.26), calc( calc( 5.5vh - 0.5vh) * 0.26) calc( calc( 5.5vh - 0.5vh) * 0.26);
    background-position: 0 50%;
    animation: ghost-tail-moving 0.5s linear infinite; }

.ghost-eaten {
  visibility: hidden; }
  .ghost-eaten [class|=eye] {
    visibility: visible;
    border: 1px solid black; }

.pinky {
  background-color: pink; }
  .pinky::after {
    background: linear-gradient(-50deg, transparent 75%, pink 75%) 0 50%, linear-gradient(50deg, transparent 75%, pink 75%) 0 50%;
    background-size: calc( calc( 5.5vh - 0.5vh) * 0.26) calc( calc( 5.5vh - 0.5vh) * 0.26), calc( calc( 5.5vh - 0.5vh) * 0.26) calc( calc( 5.5vh - 0.5vh) * 0.26); }

.inky {
  background-color: cyan; }
  .inky::after {
    background: linear-gradient(-50deg, transparent 75%, cyan 75%) 0 50%, linear-gradient(50deg, transparent 75%, cyan 75%) 0 50%;
    background-size: calc( calc( 5.5vh - 0.5vh) * 0.26) calc( calc( 5.5vh - 0.5vh) * 0.26), calc( calc( 5.5vh - 0.5vh) * 0.26) calc( calc( 5.5vh - 0.5vh) * 0.26); }

.blinky {
  background-color: red; }
  .blinky::after {
    background: linear-gradient(-50deg, transparent 75%, red 75%) 0 50%, linear-gradient(50deg, transparent 75%, red 75%) 0 50%;
    background-size: calc( calc( 5.5vh - 0.5vh) * 0.26) calc( calc( 5.5vh - 0.5vh) * 0.26), calc( calc( 5.5vh - 0.5vh) * 0.26) calc( calc( 5.5vh - 0.5vh) * 0.26); }

.clyde {
  background-color: orange; }
  .clyde::after {
    background: linear-gradient(-50deg, transparent 75%, orange 75%) 0 50%, linear-gradient(50deg, transparent 75%, orange 75%) 0 50%;
    background-size: calc( calc( 5.5vh - 0.5vh) * 0.26) calc( calc( 5.5vh - 0.5vh) * 0.26), calc( calc( 5.5vh - 0.5vh) * 0.26) calc( calc( 5.5vh - 0.5vh) * 0.26); }

.ghost-moving {
  animation: ghost-up-down-moving 0.5s infinite; }

/*.ghost-warning {
    animation: ghost-warning 0.5 infinite;
}*/
