@keyframes eating-top {
  0% {
    transform: rotate(-40deg); }
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-40deg); } }

@keyframes eating-bottom {
  0% {
    transform: rotate(80deg); }
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(80deg); } }

@keyframes ghost-tail-moving {
  0% {
    background-position: 0 50%; }
  100% {
    background-position: 100% 50%; } }

@keyframes ghost-mouth-moving {
  0% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

/*@keyframes ghost-warning {
    0% { 
        background-color: black;
    }
    100% {
        background-color: green;
    }
}*/
table {
  position: relative;
  margin: 5px auto;
  background-color: white;
  border: 6px double black;
  border-collapse: collapse; }

td {
  width: 35px;
  height: 35px;
  border: 1px dotted red; }

.food::after {
  content: ' ';
  display: block;
  margin: 0 auto;
  width: 4px;
  height: 4px;
  background-color: grey; }

.wall {
  background-color: grey; }

.bonus::after {
  content: ' ';
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red; }

* {
  margin: 0;
  padding: 0; }

body {
  height: 200vh; }

/*================================== PAC-MAN ==================================*/
.pac-man {
  position: absolute;
  top: calc( 50% - 30px / 2);
  left: calc( 50% - 30px / 2);
  border-radius: 50%;
  border-radius: 100em 100em 0 0;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-animation: eating-top 0.5s infinite;
  animation: eating-top 0.5s infinite; }
  .pac-man, .pac-man::before {
    width: 30px;
    height: calc( 30px / 2);
    background-color: #ffea00; }
  .pac-man::before {
    position: absolute;
    display: block;
    content: ' ';
    margin-top: calc( 30px / 2);
    border-radius: 0 0 100em 100em;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
    -webkit-animation: eating-bottom 0.5s infinite;
    animation: eating-bottom 0.5s infinite; }

/*================================== GHOST ==================================*/
.ghost {
  position: relative;
  top: 300px;
  /* Temporiarily */
  width: 30px;
  height: calc( 30px + 30px * 0.3);
  border-radius: 100em 100em 0 0;
  background-color: green; }
  .ghost [class|=eye] {
    position: absolute;
    top: 25%;
    left: 15%;
    width: calc( 30px / 4);
    height: calc( 30px / 4);
    background-color: white;
    border-radius: 50%; }
  .ghost .eye-right {
    left: 60%; }
  .ghost .iris {
    position: absolute;
    top: 25%;
    left: 25%;
    width: calc( 30px / 8);
    height: calc( 30px / 8);
    border-radius: 50%;
    background-color: blue; }
  .ghost .mouth {
    display: none; }
  .ghost::after {
    display: block;
    content: ' ';
    position: absolute;
    top: calc( 30px + 30px * 0.3);
    height: calc( 30px * 0.26);
    width: 30px;
    background: linear-gradient(-45deg, transparent 75%, green 90%, transparent 75%) 0 50%, linear-gradient(45deg, transparent 75%, green 90%, transparent 75%) 0 50%;
    background-size: calc( 30px * 0.26) calc( 30px * 0.26), calc( 30px * 0.26) calc( 30px * 0.26);
    /*background: linear-gradient(-55deg, transparent 75%, green 75%) 0 50%,
                      linear-gradient( 55deg, transparent 75%, green 75%) 0 50%;
        background-size: calc( 30px * 0.26 ) calc( 30px * 0.26 ), calc( 30px * 0.26 ) calc( 30px * 0.26 );*/
    background-position: 0 50%;
    animation: ghost-tail-moving 1s linear infinite; }

.ghost-catched {
  background-color: blue; }
  .ghost-catched .mouth {
    display: block;
    position: absolute;
    top: 30px;
    left: calc( calc( 30px / 2) / 2);
    width: calc( 30px / 2);
    height: calc( calc( 30px / 2) / 3);
    background: linear-gradient(-45deg, transparent 75%, white 90%, transparent 85%) 0 50%, linear-gradient(45deg, transparent 75%, white 90%, transparent 85%) 0 50%;
    background-size: calc( calc( 30px / 2) / 3) calc( calc( 30px / 2) / 3), calc( calc( 30px / 2) / 3) calc( calc( 30px / 2) / 3);
    animation: ghost-mouth-moving 1s linear infinite; }
  .ghost-catched::after {
    background: linear-gradient(-55deg, transparent 75%, blue 75%) 0 50%, linear-gradient(55deg, transparent 75%, blue 75%) 0 50%;
    background-size: calc( 30px * 0.26) calc( 30px * 0.26), calc( 30px * 0.26) calc( 30px * 0.26);
    background-position: 0 50%;
    animation: ghost-tail-moving 1s linear infinite; }

.ghost-eaten {
  visibility: hidden; }
  .ghost-eaten [class|=eye] {
    visibility: visible;
    border: 1px solid black; }

/*.ghost-warning {
    animation: ghost-warning 0.5 infinite;
}*/
