.pom {
    list-style: none;
    margin-left: 8px;
    li {
        display: inline;
        padding: 0 1.3%;
        color: red;
        font-weight: 700;
    }
}


.container {
    position: relative;
    margin: 0 auto;
    border: 13px double $tableBorderColor;
    width: 100%;
    max-width: 623px;
}

table {
    position: relative;
    background-color: $tableColor;
    border-collapse: collapse;
    margin: 0;
}

td {
    width: 35px;
    height: 35px;
    border: 1px dotted red
}

.food {
    &::after {
        content: ' ';
        display: block;
        margin: 0 auto;
        width: $foodSize;
        height: $foodSize;
        background-color: $foodColor;
    }
}

.wall {
    background-color: $wallColor;
}

.bonus {
    &::after {
        content: ' ';
        display: block;
        margin: 0 auto;
        width: $bonusSize;
        height: $bonusSize;
        border-radius: 50%;
        background-color: $bonusColor;
    }
}