table {
    position: relative;
    margin: 5px auto;
    background-color: $tableColor;
    border: 6px double $tableBorderColor;
    border-collapse: collapse;
}

td {
    width: 35px;
    height: 35px;
    border: 1px dotted red
}

.food {
    &::after {
        content: ' ';
        display: block;
        margin: 0 auto;
        width: $foodSize;
        height: $foodSize;
        background-color: $foodColor;
    }
}

.wall {
    background-color: $wallColor;
}

.bonus {
    &::after {
        content: ' ';
        display: block;
        margin: 0 auto;
        width: $bonusSize;
        height: $bonusSize;
        border-radius: 50%;
        background-color: $bonusColor;
    }
}