body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



aside {
    width: 20vw;
    height: 100vh;
    background-color: green;
}

.container {
    height: 100%;
    position: relative;
    margin: 0 auto;
    border: 1.5vh double $tableBorderColor;
}

table {
    position: relative;
    background-color: $tableColor;
    border-collapse: collapse;
}

td {
    width: $tileSize; // 35px
    height: $tileSize; // 35px
    border: 1px dotted red;
}

.food {
    &::after {
        content: ' ';
        display: block;
        margin: 0 auto;
        width: $foodSize;
        height: $foodSize;
        background-color: $foodColor;
    }
}

.wall {
    background-color: $wallColor;
}

.bonus {
    &::after {
        content: ' ';
        display: block;
        margin: 0 auto;
        width: $bonusSize;
        height: $bonusSize;
        border-radius: 50%;
        background-color: $bonusColor;
    }
}

.intersection {
    background-color: limegreen;
}

.game-over {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 1);
    &::before {
        font-size: 12em;
        content: 'GAME OVER';
        display: block;
        color: red;
    }
    animation: gameOverScreen 4s linear 1;
}

.again-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 8vh;
    top: 5vh;
    left: 43vw;
    border: 0.5vw solid red;
    color: red;
    background-color: black;
    border-radius: 5vh;
    text-decoration: none;

    &::after {
        content: 'Play Again';
        font-size: 2em;
    }
}
