// BOARD SETTINGS
$tableColor: white;
$tableBorderColor: black;
$tileSize: 5.5vh;

// PACMAN SETTINGS
$pacmanSize: calc( #{$tileSize} - 0.5vh);
$pacmanColor: #ffea00;

// GHOST SETTINGS
$ghostSize: calc( #{$tileSize} - 0.5vh);
$ghostWidth: calc( #{$ghostSize} - #{$ghostSize} * 0.2 );
$ghostTailSize: calc( #{$ghostSize} / 5 );
$ghostMouthSize: calc( #{$ghostWidth} / 1.5 );
$ghostMouthHeight: calc( #{$ghostMouthSize} / 2 );
$ghostAnimationMouth: 0.2s;
$ghostAnimationTail: 0.5s;
$ghostCatchedColor: blue;

$ghostColorPinky: pink;
$ghostColorInky: cyan;
$ghostColorBlinky: red;
$ghostColorClyde: orange;

// FOOD SETTINGS
$foodColor: grey;
$foodSize: 0.5vh;

// WALL SETTINGS
$wallColor: grey;

// BONUS SETTINGS
$bonusSize: 2vh;
$bonusColor: red;


