@import '_variables.scss';
@import '_animations.scss';
@import '_board.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*================================== PAC-MAN ==================================*/


.pacman {
    position: absolute;
    margin: 0.5% 0 0 0.5%; 
    border-radius: 50%;
    border-radius: 100em 100em 0 0;
    /*transition: top 100ms, left 100ms; OPÓŹNIENIE */
    transform-origin: bottom;
    animation: eating-top 0.5s infinite;
    , &::before {
        width: $pacmanSize;
        height: calc( #{$pacmanSize} / 2 );
        background-color: $pacmanColor;
    }
    &::before {
        position: absolute;
        display: block;
        content: ' ';
        margin-top: calc( #{$pacmanSize} / 2 );
        border-radius: 0 0 100em 100em;
        transform-origin: top;
        transform: rotate(80deg);
        animation: eating-bottom 0.5s infinite;
    }
}




/*================================== GHOST ==================================*/
@mixin gradient($color1, $size1, $transparent1) {
    background: linear-gradient(-45deg, transparent 75%, $color1 90%, transparent $transparent1) 0 50%,
                linear-gradient( 45deg, transparent 75%, $color1 90%, transparent $transparent1) 0 50%;
    background-size: $size1 $size1, $size1 $size1;
}

/*.ghost-wrapper {
    position: absolute;
}*/

.ghost {
    position: relative;
    bottom: 524px;
    left: 6px;
    width: $ghostWidth;
    height: $ghostSize;
    border-radius: 100em 100em 0 0;
    background-color: green;
    &::before {
        position: absolute;
        content: ' ';
        display: block;
        height: 100%;
        width: 100%;
    }
    
    // Ghost Eyes
    [class|=eye] {
        position: absolute;
        top: 25%;
        left: 10%;
        width: calc( #{$ghostSize} / 4);
        height: calc( #{$ghostSize} / 4);
        background-color: white;
        border-radius: 50%;
    }
    .eye-right {
        left: 55%;
    }
    .iris {
        position: absolute;
        top: 25%;
        left: 25%;
        width: calc( #{$ghostSize} / 8);
        height: calc( #{$ghostSize} / 8);
        border-radius: 50%;
        background-color: blue;
    }
    .mouth {
        display: none;
    }
    
    // Ghost Bottom 
    &::after {
        display: block;
        content: ' ';
        position: absolute;
        top: $ghostSize;
        height: calc( #{$ghostWidth} * 0.26 );
        width: #{$ghostWidth};
        background: linear-gradient(-55deg, transparent 75%, green 75%) 0 50%,
                      linear-gradient(55deg, transparent 75%, green 75%) 0 50%;
        background-size: calc( #{$ghostSize} * 0.26 ) calc( #{$ghostSize} * 0.26 ), calc( #{$ghostSize} * 0.26 ) calc( #{$ghostSize} * 0.26 );
        background-origin: 0 50%;
        animation: ghost-tail-moving 0.5s linear infinite; 
    }
}

.ghost-catched {
    background-color: $ghostCatchedColor;
    .mouth {
        display: block;
        position: absolute;
        top: $ghostWidth;
        left: calc( #{$ghostMouthSize} / 2 );
        width: $ghostMouthSize;
        height: $ghostMouthHeight;
        background: linear-gradient(-45deg, transparent 75%, white 90%, transparent 85%) 0 50%,
                    linear-gradient( 45deg, transparent 75%, white 90%, transparent 85%) 0 50%;
        background-size: $ghostMouthHeight $ghostMouthHeight, $ghostMouthHeight $ghostMouthHeight;
        animation: ghost-mouth-moving 1s linear infinite; 
    }
    &::after {
        background: linear-gradient(-55deg, transparent 75%, $ghostCatchedColor 75%) 0 50%,
                    linear-gradient( 55deg, transparent 75%, $ghostCatchedColor 75%) 0 50%;
        background-size: calc( #{$ghostSize} * 0.26 ) calc( #{$ghostSize} * 0.26 ), calc( #{$ghostSize} * 0.26 ) calc( #{$ghostSize} * 0.26 );
        background-position: 0 50%;
        animation: ghost-tail-moving 1s linear infinite; 
    }
}

.ghost-eaten {
    visibility:hidden;
    [class|=eye] {
        visibility: visible;
        border: 1px solid black;
    }
}

/*.ghost-warning {
    animation: ghost-warning 0.5 infinite;
}*/






