@import '_variables.scss';
@import '_animations.scss';
@import '_board.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*================================== PAC-MAN ==================================*/

.pacman {
    position: absolute;
    width: $pacmanSize;
    height: $pacmanSize;
    margin: 0.5% 0 0 0.5%;
    transition: top 250ms, left 250ms;
    .pacman-top, .pacman-bottom {
        position: absolute; //
        width: 100%;
        height: 50%;
        background-color: $pacmanColor;
    }
    .pacman-top {
        border-radius: 100em 100em 0 0;
        transform-origin: bottom;
    }
    .pacman-bottom {
        border-radius: 0 0 100em 100em;
        transform-origin: top;
        margin-top: 50%;
    }
    
}





/*================================== GHOST ==================================*/
@mixin gradient($color1, $size1, $transparent1) {
    background: linear-gradient(-50deg, transparent 75%, $color1 $transparent1/*, transparent $transparent1*/) 0 50%,
                linear-gradient( 50deg, transparent 75%, $color1 $transparent1/*, transparent $transparent1*/) 0 50%;
    background-size: $size1 $size1, $size1 $size1;
}

/*.ghost-wrapper {
    position: absolute;
}*/

.ghost {
    position: absolute;
    width: $ghostWidth;
    height: $ghostSize;
    border-radius: 100em 100em 0 0;
    margin: 0.2% 0 0 1.2%;
    transition: top 600ms, left 600ms;
    &::before {
        position: absolute;
        content: ' ';
        display: block;
        height: 100%;
        width: 100%;
    }
    // Ghost Eyes
    [class|=eye] {
        position: absolute;
        top: 25%;
        left: 15%;
        width: calc( #{$ghostSize} / 4);
        height: calc( #{$ghostSize} / 4);
        background-color: white;
        border-radius: 50%;
    }
    .eye-right {
        left: 55%;
    }
    .iris {
        position: absolute;
        top: 25%;
        left: 25%;
        width: calc( #{$ghostSize} / 8);
        height: calc( #{$ghostSize} / 8);
        border-radius: 50%;
        background-color: blue;
    }
    .mouth {
        display: none;
    }
    
    // Ghost Bottom 
    &::after {
        display: block;
        content: ' ';
        position: absolute;
        top: $ghostSize;
        height: calc( #{$ghostWidth} * 0.26 );
        width: #{$ghostWidth};
        @include gradient(green, calc( #{$ghostSize} * 0.26 ), 75% );
        background-origin: 0 50%;
        animation: ghost-tail-moving 0.5s linear infinite; 
    }
}

.ghost-catched {
    background-color: $ghostCatchedColor;
    .mouth {
        display: block;
        position: absolute;
        top: calc( #{$ghostWidth}  );
        left: calc( #{$ghostMouthSize} / 2 );
        width: $ghostMouthSize;
        height: $ghostMouthHeight;
        background: linear-gradient(-40deg, transparent 75%, white 75%, transparent 85%) 0 50%,
                    linear-gradient( 40deg, transparent 75%, white 75%, transparent 85%) 0 50%;
        background-size: $ghostMouthHeight $ghostMouthHeight, $ghostMouthHeight $ghostMouthHeight;
        animation: ghost-mouth-moving 0.5s linear infinite; 
    }
    &::after {
        @include gradient($ghostCatchedColor, calc( #{$ghostSize} * 0.26 ), 75% );
        background-position: 0 50%;
        animation: ghost-tail-moving 1s linear infinite; 
    }
}

.ghost-eaten {
    visibility: hidden;
    [class|=eye] {
        visibility: visible;
        border: 1px solid black;
    }
}

.pinky {
    background-color: $ghostColorPinky;
    &::after {
        @include gradient($ghostColorPinky, calc( #{$ghostSize} * 0.26 ), 75% );
    }
}

.inky {
    background-color: $ghostColorInky;
    &::after {
        @include gradient($ghostColorInky, calc( #{$ghostSize} * 0.26 ), 75% );
    }
}

.blinky {
    background-color: $ghostColorBlinky;
    &::after {
        @include gradient($ghostColorBlinky, calc( #{$ghostSize} * 0.26 ), 75% );
    }
}

.clyde {
    background-color: $ghostColorClyde;
    &::after {
        @include gradient($ghostColorClyde, calc( #{$ghostSize} * 0.26 ), 75% );
    }
}

.ghost-moving {
    animation: ghost-up-down-moving 0.5s infinite;
}

/*.ghost-warning {
    animation: ghost-warning 0.5 infinite;
}*/






